process {
    cpus   = 1
    memory = 6.GB
    time   = 4.h
    shell  = ['/bin/bash', '-euo', 'pipefail']
    withLabel: process_low {
        cpus   = 2
        memory = 12.GB
        time   = 4.h
    }
    withLabel:process_medium {
        cpus   = 6
        memory = 30.GB
        time   = 8.h
    }
}
