process {
  withName: SAMTOOLS_SPLIT {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:samtools'
  }
  withName: SAMTOOLS_VIEW_RG {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:samtools'
  }
  withName: BIOBAMBAM_BAMTOFASTQ {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:bwa-bundle-dev'
  }
  withName: CUTADAPT {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:cutadapt-4.6'
  }
  withName: BWA_MEM {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:bwa-kf-bundle-0.1.17'
  }
  withName: SAMBAMBA_MERGE {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:sambamba'
  }
  withName: SAMBAMBA_SORT {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:sambamba'
  }
  withName: PYTHON_CREATESEQUENCEGROUPS {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:python2'
  }
  withName: GATK4_BASERECALIBRATOR {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:gatk4'
  }
  withName: GATK4_GATHERBQSRREPORTS {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:gatk4'
  }
  withName: GATK4_APPLYBQSR {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:gatk4'
  }
  withName: PICARD_GATHERBAMFILES {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:picard'
  }
  withName: PICARD_COLLECTALIGNMENTSUMMARYMETRICS {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:picard'
  }
  withName: PICARD_COLLECTGCBIASMETRICS {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:picard'
  }
  withName: PICARD_COLLECTINSERTSIZEMETRICS {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:picard'
  }
  withName: PICARD_COLLECTSEQUENCINGARTIFACTMETRICS {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:picard'
  }
  withName: PICARD_QUALITYSCOREDISTRIBUTION {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:picard'
  }
  withName: PICARD_COLLECTWGSMETRICS {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:picard'
  }
  withName: PICARD_COLLECTHSMETRICS {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:picard'
  }
  withName: SAMTOOLS_IDXSTATS_XY {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:samtools'
  }
  withName: SAMTOOLS_VIEW_CRAM {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:samtools-1.18'
  }
  withName: VERIFYBAMID {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:verifybamid-1.0.2'
  }
  withName: PICARD_INTERVALLISTTOOLS {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:picard'
  }
  withName: GATK4_HAPLOTYPECALLER {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:gatk-4.beta.1-3.5'
  }
  withName: PICARD_MERGEVCFS_RENAMESAMPLE {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:picard'
  }
  withName: PICARD_COLLECTVARIANTCALLINGMETRICS {
    container = '684194535433.dkr.ecr.us-east-1.amazonaws.com/d3b-healthomics:picard'
  }
}
