process {
    withName: UNTAR_REFERENCE {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: SAMTOOLS_SPLIT {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: SAMTOOLS_VIEW_RG {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: BIOBAMBAM_BAMTOFASTQ {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: CUTADAPT {
        ext.args = { [
          (params.cutadapt_r1_adapter) ? "-a ${params.cutadapt_r1_adapter}" : '',
          (params.cutadapt_r2_adapter) ? "-A ${params.cutadapt_r2_adapter}" : '',
          (params.cutadapt_min_len) ? "--minimum-length ${params.cutadapt_min_len}" : '',
          (params.cutadapt_quality_base) ? "--quality-base ${params.cutadapt_quality_base}" : '',
          (params.cutadapt_quality_cutoff) ? "--quality-cutoff ${params.cutadapt_quality_cutoff}" : ''
        ].join(' ').trim() }
        publishDir = [
            mode: copy,
            path: { "${params.outdir}/cutadapt/" },
            pattern: "*cutadapt_stats.txt"
        ]
    }
    withName: BWA_MEM {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: SAMBAMBA_MERGE {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: SAMBAMBA_SORT {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: PYTHON_CREATESEQUENCEGROUPS {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: GATK4_BASERECALIBRATOR {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: GATK4_GATHERBQSRREPORTS {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //bqsr_report
            enabled: false
        ]
    }
    withName: GATK4_APPLYBQSR {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: PICARD_GATHERBAMFILES {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: PICARD_COLLECTALIGNMENTSUMMARYMETRICS {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //alignment_metrics
            enabled: false
        ]
    }
    withName: PICARD_COLLECTGCBIASMETRICS {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //gc_bias_detail
    //gc_bias_summary
    //gc_bias_chart
            enabled: false
        ]
    }
    withName: PICARD_COLLECTINSERTSIZEMETRICS {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //insert_metrics
    //insert_plot
            enabled: false
        ]
    }
    withName: PICARD_COLLECTSEQUENCINGARTIFACTMETRICS {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //artifact_bait_bias_detail_metrics
    //artifact_bait_bias_summary_metrics
    //artifact_error_summary_metrics
    //artifact_pre_adapter_detail_metrics
    //artifact_pre_adapter_summary_metrics
            enabled: false
        ]
    }
    withName: PICARD_QUALITYSCOREDISTRIBUTION {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //qual_metrics
    //qual_chart
            enabled: false
        ]
    }
    withName: PICARD_COLLECTWGSMETRICS {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //wgs_metrics
            enabled: false
        ]
    }
    withName: PICARD_COLLECTHSMETRICS {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //hs_metrics
            enabled: false
        ]
    }
    withName: SAMTOOLS_IDXSTATS_XY {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //idxstats
    //xy_ratio
            enabled: false
        ]
    }
    withName: SAMTOOLS_VIEW_CRAM {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //cram
            enabled: false
        ]

    }
    withName: VERIFYBAMID {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //verifybamid_output
            enabled: false
        ]
    }
    withName: PICARD_INTERVALLISTTOOLS {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: GATK4_HAPLOTYPECALLER {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
            enabled: false
        ]
    }
    withName: PICARD_MERGEVCFS_RENAMESAMPLE {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //gvcf
            enabled: false
        ]
    }
    withName: PICARD_COLLECTVARIANTCALLINGMETRICS {
        publishDir = [
            //specify to avoid publishing, overwritten otherwise
    //gvcf_calling_metrics
            enabled: false
        ]
    }

    //Outputs

}
